.Top{
    font-family: "Arial", Arial, sans-serif;
    font-size: 24px;
    text-align: center;
}

.menuButton{
    margin-top: 20px;
}

.backArrow{
    font-size: x-large;
    top: 10px;
    left: 10px;
    bottom: 0;
    right: 0;
    width: 35px;
    height: 30px;
}